.Gif {
  border-radius: 6px;
  color: #ccc;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 80px;
}

.Gif figcaption{
  margin: 0;
  font-size: 2px;
  position: absolute;
  background: rgba(0, 0, 0, 0.849);
}
.Gif img {
  object-fit: contain;
}

