.App-content {
  min-height: 100vh;
  display: flex;
  gap: 4em;
  font-size: 18px;
  color: white;
}

.App-title {
  text-align: center;
  font-size: 0.5em;
  margin: 0;
  align-self: start;
}

.App-section {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .App-content {
    flex-direction: column;
    gap: 1em;
  }
}