.trending-list{
  display: flex;
  
  flex-flow: row wrap;
  min-width: 25vw;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .trending-list{
    max-width: 100vw;
    justify-content: center;
  }
}