a {
  color: #61dafb;
  text-decoration: none;
}

.App-content {
  background-color: #0b025f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  padding: 16px;
}

